* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
header {
    text-align: center;
    padding: 30px 0;
    background: #222;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #444;
    padding: 15px;
}
h2{
    margin-bottom: 30px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: rgb(78, 78, 78);
    padding: 40px;
    border: black 1px solid;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
}

input, textarea {
    background: #8a8a8a;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 1rem;
}
input[type="text"], input[type="email"], textarea {
    width: 300px;
}
button {
    width: 300px;
    padding: 10px;
    background: #460000;
    color: white;
    border: black 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background ease 0.3s;
}

button:hover {
    background: rgb(126, 1, 1);
}
footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background: #222;
    color: white;
    border-radius: 6px;
}

.proj{
  display: flex;
  gap: 20px;
  flex-direction: row;
  width: 100%;
  height: max-content;
}
a{
    transition: color ease-in-out 0.3s;
}
a:hover{
    color: red;
}

#about p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
}

#about img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: black 2px solid;
    margin-top: 10px;
    box-shadow: 0 0 40px 15px rgba(255, 0, 0, 0.35);
    transition: transform ease-in-out 0.3s;
}

#about img:hover{
    transform: scale(1.05);
}
.project1, .project2, .project3{
  background-color: #3a3a3a;
  color: beige;
  padding: 15px;
  border-radius: 6px;
  flex: 1;
  text-align: center;
  transition: background ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

.project1 img, .project2 img, .project3 img{
    width: 100px;
    height: auto;
    margin: auto;
    border-radius: 6px;
    transition: transform ease-in-out 0.3s;
}
.project1 h3, .project2 h3, .project3 h3{
    margin-bottom: 10px;
    text-align: center;
    transition: color ease-in-out 0.3s, font-size ease-in-out 0.3s;
    
}

.project1:hover, .project2:hover, .project3:hover{
    h3{
    color: rgb(62, 0, 0);
    font-size: 30px;
    }
    p{
        color: black;
    }
    box-shadow: 0 0 40px #ff0000;
    background: #c9c9c9;
    img{
        transform: scale(1.05);
    }
}
.hehe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}
#contact img{
    width: 200px;
}
#contact form{
  width: 400px;
}

.hehe aside{
    height: 330px;
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.hehe aside img{
    margin-top: 10px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: black 2px solid;
}

aside{
    display: flex;
    flex-direction: column;
}
